.connectWallet {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 18px;
  width: 220px;
  height: 51px;
  line-height: 47px;
  border: 2px solid #2E60B3;
  border-radius: 27px;
  background-color: #374c6e;
  font-weight: 500;
}